  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap');
  a{
    color: #C6AC8F !important;
    text-decoration: none;
    border: none;
  }
/*imagem de fundo*/
body{
  background-image: url(../img/fundo.png);
  background-size:cover;
}

.container{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
#frame{
  background: rgba(18, 18, 18, 0.97);
  border-radius: 30px;
  height: 75vh;
  width: 35vw;
}


/*cabeçalho do login: logo/subtitulo */
#head{
  height: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#logo{
  width: 10vmax;
}

p{
  padding-top: 0.5vh;
  font-family: 'Poppins';
  font-weight: 600;
  color: #C6AC8F;
  font-size: 2.5vmin;
}



/*Div onde engloba os inputs de email e senha*/
#inserts{
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
.insert{
  display: flex;
  flex-direction: column;
  padding-bottom: 1vh;
  width: 70%;
}
label{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  color: #EAE0D5;
  font-size: 1.2vw;
}
input{
  font-family: 'Poppins';
  background: rgba(253, 253, 253, 0);
  outline: none;
  border: 1px solid rgba(255, 0, 0, 0);
  color: #C6AC8F  ;
  font-weight: 500;
}
::placeholder {
  color: #413B33;
  font-size: 1.7vmin;
  font-family: 'Poppins';
  font-weight: 500;
}

/*Linha que divide os inputs dos botões*/
.divider{
  width: 70%;
  border: 0.12vmax solid #413B33;
}



/*Botões*/
#submits{
  height: 40vh;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-evenly;
}
#submitsform{
  height: 25vh;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-evenly;
}
#submitsformcad{
  height: 15vh;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;

}
button{
  background: #1B292F;
  border: 0px;
  padding: 2.5vh ;
  width: 20vw;
  color: #C6AC8F;
  font-weight: 600;
}
.botao{
  display: flex;
  border-radius: 10px;
  font-family: "Poppins";
  font-size: 1.7vmin;
  width: 21vw;
  height: 10vh;
  background-color: #1b292f;
  justify-content: center;
}