@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre&family=Alegreya+Sans+SC:wght@100;300;400&family=Poppins&display=swap');
body{
    background-image: url('../img/tatto.gif');
    background-size: cover;
    padding:0;
    margin:0;
}

.button{
  display: flex;
  flex-direction: column;
  align-items: center;

}
#container {
    display: flex;
    width: 44vh;
    height: 60vh;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    flex-direction: column;
    background-color: #121212e0;

  }

  .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
 .input{
    background: rgba(253, 253, 253, 0);
    outline: none;
    border: 1px solid rgba(255, 0, 0, 0);
    border-radius: 0.5rem;
    padding: 10px;
    width: 35vh;
    display: block;
    color: #C6AC8F;
    font-weight: 500;
    font-size: 1em;
  } 

/* olho nao funciona
  .lnr-eye {
    cursor: pointer;
    color: #EAE0D5;

} 

.password-section{
  display: flex;
  align-items: center;
}*/
  button {
    background: rgba(253, 253, 253, 0);
    outline: none;
    border: 1px solid rgba(255, 0, 0, 0);
    border-radius: 0.5rem;
    padding: 10px;
    margin: 25px auto;
    width: 80%;
    display: block;
    color: #1B292F;
    font-weight: 500;
  }
  
  label {
    color: #EAE0D5;
    font-family: 'Poppins';
    font-size: 1.2em;
  }
  
  button {
    background-color: #1B292F;
    color: #C6AC8F;
    font-size: 1em;
    font-family: 'Poppins';
    width: 253px;
    height: 50px;
  }
  .logo{
    margin: 20px auto;
    display: block;
  }
  hr{
    width: 300px;
  }
  input::placeholder{
    color: #413B33;
    font-size: 1em;
  }
  